@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpressVoituresV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpressVoituresV2.styles.css" asp-append-version="true" />
</head>
<body class="@ViewData["BodyClass"]">
	<header>
		<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Express Vehicles</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Annonces">Annonces</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">A propos</a>
						</li>
					</ul>
					
					<ul class="navbar-nav">
						@if (SignInManager.IsSignedIn(User))
						{
							<li class="nav-item dropdown admin me-2">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Admin
								</a>
								<ul class="dropdown-menu">
									<a class="dropdown-item" asp-area="" asp-controller="Vehicles" asp-action="Index">
										<i class="bi bi-list me-2"></i>
										Mes véhicules
									</a>
									<a class="dropdown-item" asp-area="" asp-controller="Vehicles" asp-action="Create">
										<i class="bi bi-plus-circle-fill me-2"></i>
										Ajouter un véhicule
									</a>
								</ul>
							</li>
						}

						<partial name="_LoginPartial" />
					</ul>
				</div>
			</div>
		</nav>
	</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	<footer class="footer">
		<div class="container text-center">
			<span>@DateTime.Now.Year &copy; Express Vehicles - Tous droits réservés - </span>
			<a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-decoration-none text-danger">A propos</a>
		</div>
	</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
