@model ExpressVoituresV2.Models.Brand

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
    </dl>
    <hr />
    <div class="text-center">Êtes-vous certain de vouloir supprimer ce véhicule ?</div>

    <form asp-action="Delete">
	    <div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-outline-secondary">Non</a>
            <input type="submit" value="Supprimer" class="btn btn-danger" />
	    </div>
    </form>
</div>
