@model ExpressVoituresV2.Models.Vehicle

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.VehicleTitle)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.VehicleTitle)
    </dd>
</dl>

<div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
    <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
    <input type="submit" value="Enregistrer" class="btn btn-primary" />
</div>
