@model ExpressVoituresV2.ViewModel.VehicleViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mt-5">Ajouter un véhicule</h1>

<div class="row">
	<div class="col-md-8 mx-auto mt-5 p-5 rounded bg-white shadow">
        <form asp-action="Create">
	        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-floating mb-3">
		        <input asp-for="Vin" class="form-control" />
		        <label asp-for="Vin" class="form-label">Code VIN</label>
		        <span asp-validation-for="Vin" class="text-danger"></span>
	        </div>
			
	        <div class="form-floating mb-3">
		        <input asp-for="Year" class="form-control" />
		        <label asp-for="Year" class="form-label">Année</label>
		        <span asp-validation-for="Year" class="text-danger"></span>
	        </div>
			
	        <div class="row g-2 mb-5">
		        <div class="col-md-5">
			        <div class="form-floating">
						<input asp-for="BrandAdd" class="form-control">
						<label asp-for="BrandAdd" class="form-label">Ajouter un marque</label>
						<span asp-validation-for="BrandAdd" class="text-danger"></span>
			        </div>
		        </div>
		        <div class="col-md-2">
			        <p class="text-center p-0 mt-3">ou</p>
		        </div>
		        <div class="col-md-5">
			        <div class="form-floating">
						<select asp-for="BrandList" class="form-select" asp-items="ViewBag.BrandList">
					        <option value=""></option>
				        </select>
						<label asp-for="BrandList">Sélectionnez une marque</label>
			        </div>
		        </div>
	        </div>
			
	        <div class="row g-2 mb-5">
		        <div class="col-md input-group">
			        <div class="form-floating">
						<input asp-for="PurchaseDate" type="date" class="form-control" />
				        <label asp-for="PurchaseDate" for="floatingSelect" class="control-label">Date d'achat</label>
				        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
			        </div>
					<span class="input-group-text"><i class="bi bi-calendar3"></i></span>
				</div>
				<div class="col-md input-group">
					<div class="form-floating">
						<input asp-for="PurchasePrice" class="form-control"/>
						<label asp-for="PurchasePrice" class="form-label">Prix d'achat</label>
						<span asp-validation-for="PurchasePrice" class="text-danger"></span>
					</div>
					<span class="input-group-text">€</span>
		        </div>
	        </div>
			
	        <div class="row g-2 mb-5">
				<div class="col-md input-group">
					<div class="form-floating">
				        <input asp-for="SaleDate" type="date" class="form-control" />
				        <label asp-for="SaleDate" for="floatingSelect" class="control-label">Date de vente</label>
				        <span asp-validation-for="SaleDate" class="text-danger"></span>
			        </div>
					<span class="input-group-text"><i class="bi bi-calendar3"></i></span>
		        </div>
				<div class="col-md input-group">
			        <div class="form-floating">
				        <input asp-for="SalePrice" class="form-control"/>
				        <label asp-for="SalePrice" class="form-label">Prix de vente</label>
				        <span asp-validation-for="SalePrice" class="text-danger"></span>
			        </div>
					<span class="input-group-text">€</span>
		        </div>
	        </div>

	        <div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
                <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
	            <input type="submit" value="Enregistrer" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
