@{
	ViewData["Title"] = "Les petites annonces autos";
	ViewData["BodyClass"] = "home page";
}

<div class="container mx-auto my-5">
	<div class="row">
		<div class="col d-flex align-items-center justify-content-center" style="height: 500px; margin-top: 100px; pointer-events: none;">
			<div class="text-center logo">
				<h1>Express Voitures</h1>
				<hr/>
				<h2>Vente de voitures d'occasions</h2>
			</div>
		</div>
	</div>
</div>
