@{
	ViewData["Title"] = "Les petites annonces autos";
	ViewData["BodyClass"] = "home page";
}

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col d-flex align-items-center justify-content-center" style="height: 500px; margin-top: 100px;">
			<div class="text-center">
				<h1>Express Vehicles</h1>
				<img src="images/homepage-bmw-e46.png" class="img-fluid" alt="Vehicle BMW E46">
			</div>
		</div>
	</div>
</div>


<div class="text-end me-5">
	<a href="#top" class="btn btn-outline-dark sticky-top">
		<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
		</svg>
	</a>
</div>
