@{
	ViewData["Title"] = "Les petites annonces autos";
	ViewData["BodyClass"] = "home page";
}

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col d-flex align-items-center justify-content-center" style="height: 500px; margin-top: 100px;">
			<div class="text-center logo">
				<h1>Express Voitures</h1>
				<hr/>
				<h2>Vente de voitures d'occasions pas cher</h2>
			</div>
		</div>
	</div>
</div>
