.img-fluid {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    display: block;
    pointer-events: none;
}

h1 {
    font-size: 7rem !important;
    line-height: 6rem !important;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: #ffb96e;
    text-shadow: 0px 2px 0px #3e2000;
}

hr {
    color: #ffb96e;
    border-top: 3px solid;
    opacity: 1;
    max-width: 400px;
    margin: 1rem auto;
}

.row .col {
    position: relative;
}