@{
    ViewData["Title"] = "A propos";
    ViewData["BodyClass"] = "about page";
}

<h1 class="text-center my-5">A propos</h1>

<div class="container mx-auto my-5">
	<div class="row">
		<div class="col-12 mb-5 text-center">
			<p>Site Express Voitures</p>
			<p><b>Réalisé par :</b> Benoit Podwinski</p>
		</div>
	</div>
</div>
