@{
    ViewData["Title"] = "A propos";
    ViewData["BodyClass"] = "about page";
}

<div class="container mx-auto p-5 mt-5">

	<h1 class="text-center mb-5">A propos</h1>

	<div class="row">
		<div class="col-12 mb-5 text-center">
			<p>Site Express Vehicles</p>
			<p><b>Réalisé par :</b> Benoit Podwinski</p>
		</div>
	</div>

    <div class="text-end me-5">
        <a href="#top" class="btn btn-outline-dark sticky-top">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
            </svg>
        </a>
    </div>
</div>
