@model ExpressVoitures.Models.TrimLevel

@{
    ViewData["Title"] = "Modifier";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ModelId" class="form-label"></label>
        <select asp-for="ModelId" class="form-select" asp-items="ViewBag.ModelId" disabled></select>
        <span asp-validation-for="ModelId" class="text-danger"></span>
    </div>

    <div class="mt-5 d-flex flex-row justify-content-between text-center">
        <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
        <input type="submit" value="Modifier" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
