html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        scroll-behavior: smooth;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
  background-color: #f0f0f0;
}

body.page {
    background-image: radial-gradient(circle, rgba(78,51,27,0.85) 0%, rgba(20,20,20,1) 100%);
    background-size: cover;
    background-position: center center;
}

body.home {
    background-image: radial-gradient(circle, rgba(78,51,27,0.6) 0%, rgba(20,20,20,1) 100%), url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
}

body.products-list header nav,
body.page header nav {
    backdrop-filter: blur(12px);
    background: rgb(211 124 42 / 85%) !important;
    border-bottom: 2px solid rgba(255,255,255,0.08);
}

.navbar .nav-link,
.navbar-brand {
    color: #ffebd5 !important;
}

body.page p,
body.products-list footer span,
body.page footer span,
body.products-list footer a,
body.page footer a {
    color: rgba(255,255,255,0.8) !important;
}

header {
    background-color: transparent;
}

.table-bordered > :not(caption) > * > * {
    border: none;
}

.table-bordered > :not(caption) > * {
    border-top: none;
}

body.page h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    line-height: 5rem;
    color: #ffe1c6;
    text-shadow: 0px 4px 0px #562d00;
}

body.page h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: #ffe1c6;
    text-shadow: 0px 4px 0px #562d00;
}