html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        scroll-behavior: smooth;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  margin-bottom: 60px;
  background-color: #f0f0f0;
}

body.home {
    background-image: radial-gradient(circle, rgba(78,51,27,0.6) 15%, rgba(10,10,10,1) 100%), url("../images/bg.jpg");
    background-size: cover;
    background-position: center center;
}

body.home .logo:before {
    content: "";
    position: absolute;
    right: 80px;
    bottom: -80px;
    display: block;
    width: 550px;
    height: 550px;
    background-image: url("../images/tire.png");
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
    pointer-events: none;
}

body.about header nav,
body.products-list header nav,
body.home header nav {
    backdrop-filter: blur(12px);
    background: rgb(211 124 42 / 85%) !important;
    border-bottom: 2px solid rgba(255,255,255,0.08);
}

.navbar .nav-link,
.navbar-brand {
    color: #ffebd5 !important;
}

body.products-list footer span,
body.about footer span,
body.home footer span,
body.products-list footer a,
body.about footer a,
body.home footer a {
    color: rgba(255,255,255,0.8) !important;
}

header {
    background-color: transparent;
}

.table-bordered > :not(caption) > * > * {
    border: none;
}

.table-bordered > :not(caption) > * {
    border-top: none;
}