@model ExpressVoituresV2.Models.Brand

<dl class="row text-center">
    <dt class="col-12">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-12">
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
        <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
        <input type="submit" value="Supprimer" class="btn btn-danger" />
    </div>
</form>
