@model ExpressVoituresV2.Models.Brand

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-5">Créer une marque</h1>


<div class="col-lg-6 mx-auto p-4 rounded bg-white shadow-lg">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
            <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
            <input type="submit" value="Créer" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
