@model ExpressVoituresV2.Models.Brand

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-5">Supprimer la marque</h1>

<div class="col-lg-6 mx-auto p-4 rounded bg-white shadow-lg">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="mt-5 form-group d-flex flex-row justify-content-between form-group text-center">
            <a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </div>
    </form>
</div>
